<tr id='{{integration.id}}'>
    <td class="td-integration-name">
       {{integration.integration_name}}
    </td>

  <!--  <td class="integration-justlink">
      <a class="btn grmax-justlink"
      href="{{url_for('main.edit_integration', integration_id = integration.id) }}"
      role="button">
        Настроить интеграцию
      </a>
    </td> -->
    <td class="integration-justlink">
      <a class="btn grmax-justlink"
      href="{{url_for('metrika.metrika', integration_id = integration.id) }}"
      role="button">
        Конверсия
      </a>
    </td>
    <td class="integration-justlink">
      <a class="btn grmax-justlink"
      href="{{url_for('analytics.wrapper', integration_id = integration.id) }}"
      role="button">
        Аналитика
      </a>
    </td>
    <!-- <td class="integration-justlink">
      <a class="btn grmax-justlink" href="javascript:delete_integration('{{ integration.id }}')">{{ ('Удалить интеграцию') }}</a>
    </td>-->
    <td class="integration-dotes">
      <div id="show_settings">
        <i class="fa fa-ellipsis-v fa-lg"  aria-hidden="true"></i>
        <div class="integration-settings">
          <ul>
            <li>
              <a class="btn grmax-justlink"
            href="{{url_for('main.edit_integration', integration_id = integration.id) }}"
            role="button">Настроить</a>
            </li>
            <li>
              <a class="btn grmax-justlink" href="javascript:delete_integration('{{ integration.id }}')">{{ ('Удалить') }}</a>
            </li>
          </ul>
        </div>
      </div>
    </td>
</tr>
