{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}


<div class="container">
      <h3>Свойства:</h3>
  <div class="row">
    <div class="col-sm-5">
      {% if title %} <h2>{{title}}</h2> {% endif %}
            {{ wtf.quick_form(form, id="analyticsform") }}
            <br>
            <a class="btn btn-info" href="{{url_for('main.user_integrations')}}">Назад</a>
    </div>
    <div class="col-sm-4">
      <div id="target">
        <div id="form-response"></div>
        <h3>Список адресов:</h3>
      </div>
        <br>
        <input class="btn btn-default" id="sendGR" name="sendGR" type="sendGR" value="Отправить в GR">
        <br>
        <select id="gr_campaigns">
          {% for gr_campaign in gr_campaigns %}
            <option value="{{ gr_campaign[0] }}">{{ gr_campaign[1] }}</option>
          {% endfor %}
        </select>
        <a id="create_campaign" href=''>Создать новый список</a>
        <div id='newcampaingform'></div>
    </div>

  </div>
</div>

<!-- <div class="row">
  {% if title %} <h2>{{title}}</h2> {% endif %}
      <div class="col-md-4">
        {{ wtf.quick_form(form, id="analyticsform") }}
        <br>
        <a class="btn btn-info" href="{{url_for('main.user_integrations')}}">Назад</a>
    </div>
</div>

<div id="target"></div> -->

{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/jsx" src='{{url_for("static",filename="js/analytics.js")}}'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.min.js" integrity="sha512-aFvi2oPv3NjnjQv1Y/hmKD7RNMendo4CZ2DwQqMWzoURKxcqAoktj0nNG4LU8m23+Ws9X5uVDD4OXLqpUVXD5Q==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/css/bootstrap-multiselect.css" integrity="sha512-EvvoSMXERW4Pe9LjDN9XDzHd66p8Z49gcrB7LCUplh0GcEHiV816gXGwIhir6PJiwl0ew8GFM2QaIg2TW02B9A==" crossorigin="anonymous" />
<script type="text/javascript">
  $(document).ready(function() {
    var select_options = {
      includeSelectAllOption: true,
      selectAllText: 'Выбрать все',
      buttonWidth: '270px',
      buttonClass: 'grmax-select-button btn btn-default',
      selectedClass: 'grmax-multiselect-selected',
      buttonContainer: '<div class="btn-group grmax-select" />',
      maxHeight: 400,
      buttonText: function(options, select) {
                if (options.length === 0) {
                    return 'Не выбрано...';
                }
                else {
                     var labels = [];
                     options.each(function() {
                         if ($(this).attr('label') !== undefined) {
                             labels.push($(this).attr('label'));
                         }
                         else {
                             labels.push($(this).html());
                         }
                     });
                     if (labels.length == 1) {
                       return labels[0];
                     } else {
                       return labels[0] + ' и еще ' + (labels.length - 1);
                     }
                }
            }
    }
    $('#DeviceCategory').multiselect(select_options);
    $('#OperatingSystem').multiselect(select_options);
    $('#RegionCity').multiselect(select_options);
    $('#clause_visits').multiselect(select_options);
    $('#GoalsID').multiselect(select_options);
    $('#URL').multiselect(select_options);
    $('#clause_visits_from_to').multiselect(select_options);
    $('#clause_goals').multiselect(select_options);
    $('#MobilePhone').multiselect(select_options);
    $('#MobilePhoneModel').multiselect(select_options);
    $('#Browser').multiselect(select_options);
  });
</script>

{% endblock %}
