{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<a class="grmax-justlink" href="{{url_for('main.user_integrations')}}"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Назад</a>
<div class="container">
  <div class='analytics_info'>
    <br/>
    <p><b>{{integration_name}}</b></p>
    <p>Доступны данные с <b>{{start_date}}</b> по <b>{{end_date}}</b></p>
    <p><b>{{total_unique_emails}}</b> уникальных посетителей из email</p>
</div>
  <div class="row">
    <div class="col-sm-4 col-md-3">
      <h3 class="text-center">Свойства:</h3>
      <br>
      <form class="filters_form" action="" method="post" role="form" id="filters_form">
         <div  class="form-group analyticsform-div">
            {{ filters_form.Filters.label() }}
            {{ filters_form.Filters() }}
        </div>
      </form>
    
      <form class="form" action="" method="post" role="form" id="analyticsform">
        {{ form.csrf_token() }}
        <div hidden class="form-group analyticsform-div">
          {{ form.DeviceCategory.label() }}
          {{ form.DeviceCategory() }}
        </div>
        <div hidden class="form-group analyticsform-div">
          {{ form.OperatingSystem.label() }}
          {{ form.OperatingSystem() }}
        </div>
        <div hidden class="form-group analyticsform-div">
          {{ form.RegionCity.label() }}
          {{ form.RegionCity() }}
        </div>
        <div hidden class="form-group analyticsform-div">
          {{ form.MobilePhone.label() }}
          {{ form.MobilePhone() }}
        </div>
        <div hidden class="form-group analyticsform-div">
          {{ form.MobilePhoneModel.label() }}
          {{ form.MobilePhoneModel() }}
        </div>
        <div hidden class="form-group analyticsform-div">
          {{ form.Browser.label() }}
          {{ form.Browser() }}
        </div>
        <div hidden class="form-group analyticsform-div">
          {{ form.Date.label() }}
          {{ form.clause_visits() }}
          <br><br>
          {{ form.Date(class='form-control') }}
        </div>
        <div hidden class="form-group analyticsform-div">
          {{ form.amount_of_visits.label() }}
          {{ form.clause_visits_from_to() }}
          <br><br>
          {{ form.amount_of_visits(class='form-control') }}
        </div>
        <div hidden class="form-group analyticsform-div">
          {{ form.GoalsID.label() }}
          {{ form.GoalsID() }}
        </div>
        <div hidden class="form-group analyticsform-div">
          {{ form.amount_of_goals.label() }}
          {{ form.clause_goals() }}
          <br><br>
          {{ form.amount_of_goals(class='form-control') }}
        </div>
        <div hidden class="form-group analyticsform-div">
          {{ form.URL.label() }}
          {{ form.clause_url(class='form-control') }}
          <br>
          {{ form.URL() }}
        </div>
        <div class="form-group">
          {{ form.submit(class='grmax-btn') }}
        </div>
      </form>
            <br>
    </div>
    <div class="col-sm-8 col-md-9">
      <div class="row">
          <div class="col-sm-12">
            <h3 > Список адресов: <span id="search_count"></span></h3> 
            <div class="analyticsform-div analytics-emailslist-container">
                <div id='react-table-mount'></div>
            </div>
        
          <div class="col-sm-6">
            <p style="margin-top: 70px;">Выберите список из GetResponse, куда импортировать контакты:</p>
            <select id="gr_campaigns" class="form-control select-gr-campaigns">
              {% for gr_campaign in gr_campaigns %}
                <option value="{{ gr_campaign[0] }}">{{ gr_campaign[1] }}</option>
              {% endfor %}
            </select>
            <a id="create_campaign" class="grmax-justlink" href=''>Создать новый список</a>
            <div id='newcampaingform'></div>
            <a class="btn btn-default grmax-btn" id="sendGR" name="sendGR" type="sendGR">Отправить в GR</a>
          </div> 

          <div class="col-sm-6">
            <p style="margin-top: 70px;">Название нового внешнего семента GR</p>
            <input id="external_name_input" type="text" size="40">
            <div id='newexternal'></div> 
            <a class="btn btn-default grmax-btn" id="sendGRFtp" name="sendGRFtp" type="sendGRFtp">Отправить в GR</a>
          </div>

      </div>
    </div>
  </div>
</div>

<!-- <div class="row">
  {% if title %} <h2>{{title}}</h2> {% endif %}
      <div class="col-md-4">
        {{ wtf.quick_form(form, id="analyticsform") }}
        <br>
        <a class="btn btn-info" href="{{url_for('main.user_integrations')}}">Назад</a>
    </div>
</div>

<div id="target"></div> -->

{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/jsx" src='{{url_for("static",filename="js/analytics_table.js")}}'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.min.js" integrity="sha512-aFvi2oPv3NjnjQv1Y/hmKD7RNMendo4CZ2DwQqMWzoURKxcqAoktj0nNG4LU8m23+Ws9X5uVDD4OXLqpUVXD5Q==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/css/bootstrap-multiselect.css" integrity="sha512-EvvoSMXERW4Pe9LjDN9XDzHd66p8Z49gcrB7LCUplh0GcEHiV816gXGwIhir6PJiwl0ew8GFM2QaIg2TW02B9A==" crossorigin="anonymous" />
<script type="text/javascript">
  $(document).ready(function() {

    // create checkbox menu with filters choices
    const checkboxContainer = $('#Filters');
    const filtersDivs = $('#analyticsform div.form-group.analyticsform-div');
    const filtersLablesNames = [];
    filtersDivs.each(function(){
        var $element = $(this)
        lable = $($element.children()[0])
        filtersLablesNames.push({id:lable[0].htmlFor, title:lable[0].innerText});
    }); 
    filtersLablesNames.forEach((filter) => {
        var newCheckBox = document.createElement('input');
        checkboxContainer.append(new Option(filter.title, filter.id));
    });

    var select_options = {
      includeSelectAllOption: true,
      selectAllText: 'Выбрать все',
      buttonWidth: '100%',
      buttonClass: 'grmax-select-button btn btn-default',
      selectedClass: 'grmax-multiselect-selected',
      buttonContainer: '<div class="btn-group grmax-select" />',
      maxHeight: 400,
      buttonText: function(options, select) {
                if (options.length === 0) {
                    return 'Не выбрано...';
                }
                else {
                     var labels = [];
                     options.each(function() {
                         if ($(this).attr('label') !== undefined) {
                             labels.push($(this).attr('label'));
                         }
                         else {
                             labels.push($(this).html());
                         }
                     });
                     if (labels.length == 1) {
                       return labels[0];
                     } else {
                       return labels[0] + ' и еще ' + (labels.length - 1);
                     }
                }
            }
    }
    $('#Filters').multiselect(select_options);
    $('#DeviceCategory').multiselect(select_options);
    $('#OperatingSystem').multiselect(select_options);
    $('#clause_visits').multiselect(select_options);
    $('#GoalsID').multiselect(select_options);
    $('#clause_visits_from_to').multiselect(select_options);
    $('#clause_goals').multiselect(select_options);
    $('#Browser').multiselect(select_options);
    select_options['enableFiltering'] = true;
    $('#MobilePhone').multiselect(select_options);
    $('#MobilePhoneModel').multiselect(select_options);
    $('#URL').multiselect(select_options);
    $('#RegionCity').multiselect(select_options);

  });
</script>
<script type="text/jsx" src='{{url_for("static",filename="js/analytics.js")}}'></script>

{% endblock %}
