<!-- templates/index.html -->

{% extends "base.html" %}

{% block app_content %}
<style>
img {
  max-width: 100%;
}
</style>

<h1 class="title">
  Сервис аналитики - эффективные инструменты Email-маркетинга
</h1>
<p class="lead text-center">Больше открытий, кликов и продаж</p>
<p class="lead text-center">Мощные инструменты Email-маркетинга: оценка эффективность email-рассылок, удобный инструмент создания сегментов на базе поведения клиента на вашем сайте</p>
<div class="text-center"><a href="{{url_for('main.user_integrations')}}" class="btn btn-primary btn-lg active" aria-pressed="true">Попробовать бесплатно!</a></div>
<hr class="divider">
<h1 class="lead text-center">
  Блок конверсии
</h1>
<img src="https://multimedia.getresponse360.com/salesdemoru-hc/photos/3c2f01b2-2d72-43bf-901b-32abe51340bc.jpg" alt="Как работает аналитика?" title="Email-маркетинг — как это работает?">
<p class="lead text-center">Оцените насколько эффективны ваши рассылки здесь и сейчас!</p>
<img src="https://multimedia.getresponse360.com/salesdemoru-hc/photos/9b7bf934-18e3-4f29-822d-6b7f29e488c9.jpg" alt="Как работает аналитика?" title="Email-маркетинг — как это работает?">
<p class="lead text-center">Возможность детально увидеть эффективность ваших  Email-рассылок.</p>
<hr class="divider">
<h1 class="lead text-center">
Блок аналтики
</h1>
<img src="https://multimedia.getresponse360.com/salesdemoru-hc/photos/1dac3d6a-de07-48fe-8eaa-2f3fe100773b.jpg" alt="Как работает аналитика?" title="Email-маркетинг — как это работает?">
<p class="lead text-center">Стройте сложные сегменты согласно данным ваших посетителей на сайте!</p>
{% endblock %}
