<!-- templates/index.html -->

{% extends "base.html" %}

{% block app_content %}
<style>
img {
  max-width: 100%;
}
</style>

<h1 class="title">
  Сервис аналитики - эффективные инструменты Email-маркетинга
</h1>
<p class="lead text-center">Больше открытий, кликов и продаж</p>
<p class="lead text-center">Мощные инструменты Email-маркетинга: оценка эффективность email-рассылок, удобный инструмент создания сегментов на базе поведения клиента на вашем сайте</p>
<div class="text-center"><a href="{{url_for('main.user_integrations')}}" class="btn btn-default grmax-btn" aria-pressed="true">Попробовать бесплатно!</a></div>
<hr class="divider">
<h1 class="lead text-center">
  Блок конверсии
</h1>
<img src="https://multimedia.getresponse360.com/salesdemoru-hc/photos/c8597af1-1274-4c7a-8854-f920dd95c9e5.jpg" alt="Как работает аналитика?" title="Email-маркетинг — как это работает?">
<p class="lead text-center">Оцените насколько эффективны ваши рассылки здесь и сейчас!</p>
<img src="https://multimedia.getresponse360.com/salesdemoru-hc/photos/5a5c01da-22a5-4c52-ae44-98c0f644ecd6.jpg" alt="Как работает аналитика?" title="Email-маркетинг — как это работает?">
<p class="lead text-center">Возможность детально увидеть эффективность ваших  Email-рассылок.</p>
<hr class="divider">
<h1 class="lead text-center">
Блок аналтики
</h1>
<img src="https://multimedia.getresponse360.com/salesdemoru-hc/photos/3c37a3ce-1646-4660-9dfa-43331b48b17b.jpg" alt="Как работает аналитика?" title="Email-маркетинг — как это работает?">
<p class="lead text-center">Стройте сложные сегменты согласно данным ваших посетителей на сайте!</p>
{% endblock %}
