{% extends "base.html" %}

{% block app_content %}


<div>
  <p id='atb' hidden>{{integration_id}}</p>
  <p><b>Интеграция {{integration_name}}</b></p>
  <p>Доступны данные с <b>{{min_date}}</b> по <b>{{max_date}}</b></p>
  <p>Всего уникальных визитов доступно: <b>{{data_length}}</b></p>
</div>

<div id='mount-button_run_table'></div>
<div id="mount-visits_table"></div>


<!-- первый график - зависимость конверсии от общего количества визитов - с email и без email -->
<div id="chart_div1" style="width: 1000px; height: 500px;"></div>
<br>

<!-- диаграмма -->
<br>
<div id="piechart_3d" style="width: 1000px; height: 500px;"></div>




{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src='{{url_for("static",filename="js/google_charts.js")}}'></script> 
<script type="text/jsx" src='{{url_for("static",filename="js/react_table_components.js")}}'></script>

{% endblock %}
