{% extends "base.html" %}

{% block app_content %}
<script type="text/javascript">
    var logs=[
      [1111111111, 'a@mail.ru', 9, 12, 12, 9],
      [1111111112, 'b@mail.ru', 8, 4, 3, 7],
      [1111111113, 'no-email', 1, 3, 0, 0],
      [1111111114, 'no-email', 0, 7, 0, 0],
      [1111111115, 'c@mail.ru', 8, 7, 7, 5],
      [1111111116, 'no-email', 0, 2, 0, 0],
      [1111111117, 'd@mail.ru', 9, 5, 5, 9],
      [1111111118, 'e@mail.ru', 2, 2, 2, 2],
      [1111111119, 'no-email', 1, 5, 0, 0],
      [1111111120, 'f@mail.ru', 5, 2, 2, 5],
      [1111111121, 'g@mail.ru', 5, 2, 2, 5],

      [1111111122, 'h@mail.ru', 3, 12, 7, 2],
      [1111111123, 'i@mail.ru', 9, 3, 3, 7],
      [1111111124, 'no-email', 3, 4, 0, 0],
      [1111111125, 'no-email', 0, 7, 0, 0],
      [1111111126, 'g@mail.ru', 8, 3, 2, 5],
      [1111111127, 'no-email', 2, 5, 0, 0],
      [1111111128, 'k@mail.ru', 2, 6, 3, 2],
      [1111111129, 'l@mail.ru', 5, 4, 4, 5],
      [1111111130, 'no-email', 1, 3, 0, 0],
      [1111111131, 'm@mail.ru', 2, 1, 1, 2],
      [1111111132, 'n@mail.ru', 0, 1, 1, 0],

      [1111111122, 'o@mail.ru', 7, 10, 8, 7],
      [1111111123, 'p@mail.ru', 8, 2, 2, 8],
      [1111111124, 'no-email', 2, 3, 0, 0],
      [1111111125, 'no-email', 1, 8, 0, 0],
      [1111111126, 'q@mail.ru', 9, 6, 4, 8],
      [1111111127, 'no-email', 2, 5, 0, 0],
      [1111111128, 'r@mail.ru', 1, 1, 1, 1],
      [1111111129, 's@mail.ru', 5, 2, 2, 5],
      [1111111130, 'no-email', 1, 3, 0, 0],
      [1111111131, 't@mail.ru', 9, 8, 3, 3],
      [1111111132, 'u@mail.ru', 4, 2, 1, 4],

      [1111111133, 'v@mail.ru', 16, 10, 10, 16],
      [1111111134, 'w@mail.ru', 14, 4, 3, 10],
      [1111111135, 'no-email', 4, 5, 0, 0],
      [1111111136, 'no-email', 2, 3, 0, 0],
      [1111111137, 'x@mail.ru', 15, 3, 2, 10],
      [1111111138, 'no-email', 1, 6, 0, 0],
      [1111111139, 'y@mail.ru', 12, 2, 2, 12],
      [1111111140, 'z@mail.ru', 10, 2, 1, 7],
      [1111111141, 'no-email', 1, 3, 0, 0],
      [1111111142, 'aa@mail.ru', 9, 3, 2, 3],
      [1111111143, 'bb@mail.ru', 2, 1, 1, 2],

      [1111111144, 'сс@mail.ru', 14, 10, 5, 12],
      [1111111145, 'dd@mail.ru', 2, 9, 4, 2],
      [1111111146, 'no-email', 2, 2, 0, 0],
      [1111111147, 'no-email', 5, 3, 0, 0],
      [1111111148, 'ee@mail.ru', 8, 4, 2, 7],
      [1111111149, 'no-email', 1, 6, 0, 0],
      [1111111150, 'ff@mail.ru', 5, 3, 2, 2],
      [1111111151, 'gg@mail.ru', 9, 7, 3, 3],
      [1111111152, 'no-email', 1, 4, 0, 0],
      [1111111153, 'hh@mail.ru', 16, 9, 5, 10],
      [1111111154, 'ii@mail.ru', 2, 4, 4, 2],

      [1111111155, 'jj@mail.ru', 3, 10, 5, 3],
      [1111111156, 'kk@mail.ru', 8, 7, 7, 8],
      [1111111157, 'no-email', 2, 1, 0, 0],
      [1111111158, 'no-email', 0, 4, 0, 0],
      [1111111159, 'll@mail.ru', 9, 4, 3, 8],
      [1111111160, 'no-email', 5, 9, 0, 0],
      [1111111161, 'mm@mail.ru', 6, 2, 1, 5],
      [1111111162, 'nn@mail.ru', 3, 5, 3, 3],
      [1111111163, 'no-email', 1, 2, 0, 0],
      [1111111164, 'oo@mail.ru', 11, 2, 1, 7],
      [1111111165, 'pp@mail.ru', 2, 7, 5, 2],

      [1111111167, 'qq@mail.ru', 20, 4, 1, 18],
      [1111111168, 'rr@mail.ru', 2, 3, 3, 2],
      [1111111169, 'no-email', 5, 7, 0, 0],
      [1111111170, 'no-email', 1, 5, 0, 0],
      [1111111171, 'ss@mail.ru', 9, 7, 3, 8],
      [1111111172, 'no-email', 2, 10, 0, 0],
      [1111111173, 'tt@mail.ru', 14, 6, 1, 5],
      [1111111174, 'uu@mail.ru', 17, 2, 2, 17],
      [1111111175, 'no-email', 3, 9, 0, 0],
      [1111111176, 'vv@mail.ru', 5, 2, 1, 3],
      [1111111177, 'ww@mail.ru', 1, 7, 5, 1],

      [1111111178, 'qq@mail.ru', 6, 10, 2, 6],
      [1111111179, 'rr@mail.ru', 10, 9, 3, 10],
      [1111111180, 'no-email', 12, 10, 0, 0],
      [1111111181, 'no-email', 4, 3, 0, 0],
      [1111111182, 'ss@mail.ru', 8, 2, 1, 8],
      [1111111183, 'no-email', 2, 10, 0, 0],
      [1111111184, 'tt@mail.ru', 12, 8, 3, 6],
      [1111111185, 'uu@mail.ru', 11, 2, 1, 10],
      [1111111186, 'no-email', 3, 9, 0, 0],
      [1111111187, 'vv@mail.ru', 2, 5, 1, 3],
      [1111111188, 'ww@mail.ru', 1, 7, 5, 1],

      [1111111189, 'qq@mail.ru', 6, 10, 2, 6],
      [1111111190, 'rr@mail.ru', 10, 9, 3, 10],
      [1111111191, 'no-email', 2, 7, 0, 0],
      [1111111192, 'no-email', 1, 3, 0, 0],
      [1111111193, 'ss@mail.ru', 30, 10, 9, 8],
      [1111111194, 'no-email', 2, 10, 0, 0],
      [1111111195, 'tt@mail.ru', 22, 12, 11, 6],
      [1111111196, 'uu@mail.ru', 17, 2, 2, 17],
      [1111111197, 'no-email', 3, 9, 0, 0],
      [1111111198, 'vv@mail.ru', 14, 10, 9, 3],
      [1111111199, 'ww@mail.ru', 1, 7, 5, 1],
      [1111111200, 'zz@mail.ru', 1, 7, 5, 1]
    ]
</script>
<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <table border="1" class="dataframe data">
<thead>
  <tr style="text-align: right;">
    <th></th>
    <th>ClientID</th>
    <th>Client identities</th>
    <th>Total goals complited</th>
    <th>Total visits</th>
    <th>Visits with email</th>
    <th>Goals complited via email</th>
    <th>Conversion (TG/TV)</th>
    <th>Email power proportion</th>
  </tr>
</thead>
<tbody id='addLog'>

</tbody>
</table>
      </div>
    </div>
  </article>
</div>
<!-- первый график - зависимость конверсии от общего количества визитов - с email и без email -->
<div id="chart_div1" style="width: 1000px; height: 500px;"></div>
<br>
<!-- третий график - зависимость конверсии от количества визитов c email -->
<div id="chart_div3" style="width: 1000px; height: 500px;"></div>
<br>
<!-- второй график - зависимость конверсии от количества визитов c email в utm/общее количество визитов -->
<div id="chart_div2" style="width: 1000px; height: 500px;"></div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script type="text/javascript">
  logs.forEach(function(log,i,logs) {
    var conv = log[2]*100/log[3];
    var power = log[5]*100/log[2];
    let tableLog = document.getElementById('addLog');
      let trLog = document.createElement('tr');
    if (log[1] == "no-email") {
      trLog.insertAdjacentHTML('afterbegin','<td>'+i+'</td><td>'+log[0]+'</td><td>'+log[1]+'</td><td>'+log[2]+'</td><td>'+log[3]+'</td><td>'+log[4]+'</td><td>'+log[5]+'</td><td>'+conv+'</td><td>0</td>');
    } else {
      trLog.insertAdjacentHTML('afterbegin','<td>'+i+'</td><td>'+log[0]+'</td><td>'+log[1]+'</td><td>'+log[2]+'</td><td>'+log[3]+'</td><td>'+log[4]+'</td><td>'+log[5]+'</td><td>'+conv+'</td><td>'+power+'</td>');
    }
    tableLog.append(trLog);
  })
</script>
<script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        //первый график  - зависимость конверсии от общего количества визитов (с email, без email)
        var dataLogs = [['Count', 'Без email', 'с email']];
        logs.forEach(function(log,i,logs) {
          if (log[1] == 'no-email') {
            dataLogs.push([log[3], log[2]*100/log[3], null]);
          } else {
            dataLogs.push([log[3], null, log[2]*100/log[3]]);
          }
        });


        var data = google.visualization.arrayToDataTable(dataLogs);


        var options = {
          title: 'Зависимость конверсии от общего количества визитов (с) - с email, без email',
          hAxis: {title: 'Общее количество визитов', minValue: 0, maxValue: 10},
          vAxis: {title: 'Конверсия', minValue: 0, maxValue: 1000},
          legend: 'right',
          colors: ['#ff0000', '#0000ff']
        };

        var chart = new google.visualization.ScatterChart(document.getElementById('chart_div1'));

        chart.draw(data, options);

        //второй график - зависимость конверсии от доли визитов с email в общем количестве визитов
        var data2Logs = [['Count', '']];
        logs.forEach(function(log,i,logs) {
          data2Logs.push([log[4]*100/log[3], log[2]*100/log[3]]);
        });
        var data2 = google.visualization.arrayToDataTable(data2Logs);
      var options2 = {
          title: 'Зависимость конверсии от доли визитов с email (d/c)',
          hAxis: {title: '% количество визитов с email / общее количество визитов', minValue: 0, maxValue: 100},
          vAxis: {title: 'Конверсия', minValue: 0, maxValue: 1000},
          legend: 'none',
          colors: ['#3caa3c']
        };

        var chart2 = new google.visualization.ScatterChart(document.getElementById('chart_div2'));

        chart2.draw(data2, options2);


      //третий график - зависимость конверсии от количества визитов с email

      var data3Logs = [['Count', '']];
      logs.forEach(function(log,i,logs) {
        data3Logs.push([log[4], log[2]*100/log[3]]);
      });
      var data3 = google.visualization.arrayToDataTable(data3Logs);

      var options3 = {
          title: 'Зависимость конверсии от количества визитов с email (d)',
          hAxis: {title: 'Количество визитов с email', minValue: 0, maxValue: 10},
          vAxis: {title: 'Конверсия', minValue: 0, maxValue: 1000},
          legend: 'none',
          colors: ['#3caa3c']
        };

        var chart3 = new google.visualization.ScatterChart(document.getElementById('chart_div3'));

        chart3.draw(data3, options3);
      }

    </script>
{% endblock %}
