{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="container">
  <div class="row" id="apikeyform">
      <div class="col-md-4">
          {{ wtf.quick_form(api_key_form) }}
      </div>
      <a class="btn btn-info" id='enable_key_form_button'>Ввести другой ключ</a>
  </div>
  <div class="row" id="availablenewslettersform">
      <div class="col-md-4">
          {{ wtf.quick_form(available_newsletters_form) }}
      </div>
  </div>
  <div class="row" id='availablelinksform'>
      <div class="col-md-4">
          {{ wtf.quick_form(available_links_form) }}
      </div>
  </div>
  <div id='info'></div>
  <div class="row">
      <div class="col-md-4">
          <a class="btn btn-info" href="{{url_for('main.profile')}}">Назад</a>
      </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script type="text/javascript" src='{{url_for("static",filename="js/gr_newsletter_links_handler.js")}}'></script>
{% endblock %}
