<!-- templates/profile.html -->

{% extends "base.html" %}

{% block app_content %}
<a class="btn btn-primary" href="{{url_for('main.user_integrations')}}" role="button">Показать интеграции</a>
<hr class="mt-2 mb-3"/>
<a class="btn btn-primary" href="{{url_for('main.link_creation')}}" role="button1">Создать ссылку</a>
<hr class="mt-2 mb-3"/>
<a class="btn btn-primary" href="{{url_for('newsletters.newsletters')}}" role="button1">Создать письмо</a>
<hr class="mt-2 mb-3"/>

{% endblock %}
