{% extends "base.html" %}
{% block app_content %}
<table class="profile table table-hover">
    <thead>
        <tr>
            <td>
                Название
            </td>
            <td>
              <a class="btn btn-primary"
              href="{{url_for('main.create_integration')}}"
              role="button">
              Добавить новую интеграцию
            </a>
            </td>
            <td>
            </td>
        </tr>
      </thead>
    <tbody>
    {% for integration in integrations %}
        {% include '_integration.html' %}
    {% endfor %}
    </tbody>
</table>
{% endblock %}
